# Pandas
A powerful library for data manipulation and analysis in Python. It provides data structures like Series and DataFrame to handle structured data efficiently. Data cleaning, pre-processing, and analysis tasks are simplified using Pandas.

## Data Frames & Series

In [1]:
import pandas as pd

df = pd.read_csv("student_data.csv")
print(df)

print(type(df))  # <class 'pandas.core.frame.DataFrame'>

# Dataframe(Tabular Data) is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, or a dictionary of Series objects. It's the core data structure in Pandas for data manipulation and analysis.
# Row: sample entry/record
# Column: attribute/feature

student_ids = df['StudentID']
print(student_ids)

print(type(student_ids))  # <class 'pandas.core.series.Series'>
# Series(Single row or column) is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). It is similar to a column in a spreadsheet or a SQL table. Each element in a Series has an associated label (index) that can be used to access the data.

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka
<class 'pandas.core.frame.DataFrame'>
0     PH1001
1     PH1002
2     PH1003
3     PH1004
4     PH1005
5     PH1006
6     PH1007
7     PH1008
8     PH1009
9     PH1010
10    PH1011
11    PH1012
12    PH1013
13    PH1014
14    PH1015
15    PH1016
16    PH1017
17    PH1018
18    PH1019
19    PH1020
Name: StudentID, dtype: object
<class 'pandas.core.series.Series'>

## Different File Loading Methods

In [3]:
# File can be found in txt, csv, excel, json, fast(parquet), sql, html etc. formats

# CSV File Loading
df_csv = pd.read_csv("student_data.csv")

# Excel File Loading
df_excel = pd.read_excel("student_marks.xlsx", sheet_name="Sheet1")

# Parquet File Loading
df_parquet = pd.read_parquet("students.parquet")

# JSON File Loading
df_json = pd.read_json("data.json")

## Basic Operations & Functions

In [ ]:
df.head()  # First 5 rows of the dataframe or df.head(10) for first 10 rows

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,2024-01-15,Mr. Karim,Dhaka
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,2024-01-20,Ms. Salma,Chattogram
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2024-02-10,Mr. Karim,Dhaka
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2024-02-12,Ms. Salma,Sylhet
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,2024-03-05,Mr. Karim,Chattogram

In [ ]:
df.tail()  # Last 5 rows of the dataframe or df.tail(10) for last 10 rows

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,2025-09-01,Mr. Karim,Dhaka
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,2025-09-05,Ms. Salma,Sylhet
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,2025-09-15,Mr. David,Chattogram
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,2025-10-02,Ms. Salma,Dhaka

In [38]:
df_excel.sample(3)    # Random 3 rows

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,2024-07-02,Mr. David,Dhaka
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,2024-08-21,Ms. Salma,Chattogram
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,2024-04-22,Ms. Salma,Chattogram

In [40]:
df.columns  # List of column names

Index(['StudentID', 'FullName', 'Data Structure Marks', 'Algorithm Marks',
       'Python Marks', 'CompletionStatus', 'EnrollmentDate', 'Instructor',
       'Location'],
      dtype='object')

In [41]:
df.index    # Row index labels

RangeIndex(start=0, stop=20, step=1)

In [46]:
df.info()
df.describe()   # Statistical summary of numerical columns. Only picks numeric columns by default

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   StudentID             20 non-null     object
 1   FullName              20 non-null     object
 2   Data Structure Marks  16 non-null     float64
 3   Algorithm Marks       16 non-null     float64
 4   Python Marks          15 non-null     float64
 5   CompletionStatus      20 non-null     object
 6   EnrollmentDate        20 non-null     object
 7   Instructor            20 non-null     object
 8   Location              20 non-null     object
dtypes: float64(3), object(6)
memory usage: 1.5+ KB

       Data Structure Marks  Algorithm Marks  Python Marks
count             16.000000        16.000000     15.000000
mean              84.000000        84.000000     85.666667
std                6.501282         6.501282      5.394000
min               72.000000        72.000000     76.000000
25%               79.500000        79.500000     83.000000
50%               85.500000        85.500000     85.000000
75%               88.250000        88.250000     88.500000
max               94.000000        94.000000     95.000000

##  Dataframe from Inbuilt Data with Column and Indexes

In [5]:
# Dataframe Creation 

lst = [['Alice', 24], ['Bob', 22], ['Charlie', 23]]
lst_df = pd.DataFrame(lst, columns=['Name', 'Age'],index=[1,2,3])
print(lst_df)
print("----------------------")

tpl= [('David', 25), ('Eva', 21), ('Frank', 24)]
tpl_df = pd.DataFrame(tpl, columns=['Name', 'Age'], index=[4,5,6])
print(tpl_df)
print("----------------------")

dic = {'Name': ['Grace', 'Hannah', 'Ian'], 'Age': [22, 23, 24]}
dic_df = pd.DataFrame(dic, index=[7,8,9])       #Here keys become column names
print(dic_df)
print("----------------------")

lst_dic = [{'Name': 'Jack', 'Age': 26,"city": "New York"}, {'Name': 'Kathy', 'Age': 27,"city": "Los Angeles"}, {'Name': 'Liam', 'Age': 28}]
lst_dic_df = pd.DataFrame(lst_dic, index=[10,11,12])
print(lst_dic_df)

      Name  Age
1    Alice   24
2      Bob   22
3  Charlie   23
----------------------
    Name  Age
4  David   25
5    Eva   21
6  Frank   24
----------------------
     Name  Age
7   Grace   22
8  Hannah   23
9     Ian   24
----------------------
     Name  Age         city
10   Jack   26     New York
11  Kathy   27  Los Angeles
12   Liam   28          NaN

In [ ]:
# Accessing Data with Index and Columns
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 22, 23, 25],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)

# Accessing a column
ages = df['Age'] 
print(ages)

# loc - Accessing rows by label/index   loc(index_start:index_end, column_start:column_end)
# iloc - Accessing rows by integer position  iloc(position_start:position_end, position_start:position_end)

# loc vs iloc: loc includes the end index, while iloc excludes the end index. loc uses labels, iloc uses integer positions. loc can accept boolean arrays, iloc cannot. iloc is generally faster than loc for large datasets. iloc is not index label based.

# Using loc to access rows
first_row = df.loc[0]
print(first_row)
print("----------------------")

multiple_rows = df.loc[[1, 2]]
print(multiple_rows)
print("----------------------")

multiple_rows_range = df.loc[1:3]
print(multiple_rows_range)
print("----------------------")

# Using loc to access columns
age_city = df.loc[:, ['Age', 'City']]
print(age_city)
print("----------------------")

# Using loc to access rows with specific columns
specific_data = df.loc[1:3, ['Name', 'City']]
print(specific_data)
print("----------------------")

# Changing index and columns
new_df = df.set_index('Name')
print(new_df)
print("----------------------")

# Now 'Name' column is the index. So to access row of column, use iloc instead of loc as index is no longer integer based
multiple_rows_iloc = new_df.iloc[0:2]
print(multiple_rows_iloc)
print("----------------------")

specific_data_iloc = new_df.iloc[:, 0: 1]
print(specific_data_iloc)
print("----------------------")

# Rename Columns
renamed_df = df.rename(columns={'Name': 'Full Name', 'Age': 'Years'})
print(renamed_df)

0    24
1    22
2    23
3    25
Name: Age, dtype: int64
Name       Alice
Age           24
City    New York
Name: 0, dtype: object
----------------------
      Name  Age         City
1      Bob   22  Los Angeles
2  Charlie   23      Chicago
----------------------
      Name  Age         City
1      Bob   22  Los Angeles
2  Charlie   23      Chicago
3    David   25      Houston
----------------------
   Age         City
0   24     New York
1   22  Los Angeles
2   23      Chicago
3   25      Houston
----------------------
      Name         City
1      Bob  Los Angeles
2  Charlie      Chicago
3    David      Houston
----------------------
         Age         City
Name
Alice     24     New York
Bob       22  Los Angeles
Charlie   23      Chicago
David     25      Houston
----------------------
       Age         City
Name
Alice   24     New York
Bob     22  Los Angeles
----------------------
         Age
Name
Alice     24
Bob       22
Charlie   23
David     25
----------------------
  Full Name  Years         City
0     Alice     24     New York
1       Bob     22  Los Angeles
2   Charlie     23      Chicago
3     David     25      Houston

## Dropping rows and columns,Assigning values and Iteration

In [34]:
# Changing values
import numpy as np

df = pd.read_csv("student_data.csv")

# 1. Drop
df_dropped_row = df.drop(index=2)  # Drop row with index 2
print(df)
print("----------------------")

# 2. Drop Column
df_dropped_column = df.drop('EnrollmentDate', axis=1, inplace=True)  # Drop 'City' column, inplace=True modifies the original dataframe
print(df)
print("----------------------")

# 3. Assigning Values
df.loc[0, 'FullName'] = "Alice Johnson"  # loc[row_index, column_name] = new_value

# Aggregate Assigning Values
df.loc[1:3, 'Data Structure Marks'] += 5  # Increase 'Data Structure Marks' by 5 for rows with index 1 to 3

df

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka
----------------------
   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus Instructor    Location
0           88.0        Completed  Mr. Karim       Dhaka
1            NaN      In Progress  Ms. Salma  Chattogram
2           85.0        Completed  Mr. Karim       Dhaka
3           82.0        Completed  Ms. Salma      Sylhet
4           95.0      In Progress  Mr. Karim  Chattogram
5           78.0        Completed  Ms. Salma    Rajshahi
6            NaN      In Progress  Mr. Karim       Dhaka
7           85.0        Completed  Ms. Salma  Chattogram
8           76.0        Completed  Mr. David       Dhaka
9           88.0        Completed  Ms. Salma      Sylhet
10          91.0      In Progress  Mr. Karim      Khulna
11          87.0        Completed  Ms. Salma  Chattogram
12          79.0        Completed  Mr. David       Dhaka
13           NaN      Not Started  Ms. Salma    Rajshahi
14          84.0        Completed  Mr. Karim       Dhaka
15           NaN      In Progress  Ms. Salma  Chattogram
16          93.0        Completed  Mr. Karim       Dhaka
17          85.0        Completed  Ms. Salma      Sylhet
18           NaN      Not Started  Mr. David  Chattogram
19          89.0        Completed  Ms. Salma       Dhaka
----------------------

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,Instructor,Location
0,PH1001,Alice Johnson,85.0,85.0,88.0,Completed,Mr. Karim,Dhaka
1,PH1002,Fatima Akhter,97.0,92.0,NaN,In Progress,Ms. Salma,Chattogram
2,PH1003,Imran Hossain,93.0,88.0,85.0,Completed,Mr. Karim,Dhaka
3,PH1004,Jannatul Ferdous,83.0,78.0,82.0,Completed,Ms. Salma,Sylhet
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,Mr. Karim,Chattogram
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,Ms. Salma,Rajshahi
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,Mr. Karim,Dhaka
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,Ms. Salma,Chattogram
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,Mr. David,Dhaka
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,Ms. Salma,Sylhet
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,Mr. Karim,Khulna
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,Ms. Salma,Chattogram
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,Mr. David,Dhaka
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,Ms. Salma,Rajshahi
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,Mr. Karim,Dhaka
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,Ms. Salma,Chattogram
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,Mr. Karim,Dhaka
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,Ms. Salma,Sylhet
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,Mr. David,Chattogram
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,Ms. Salma,Dhaka

In [ ]:
# 4. Iteration (Actually Brodcasted Operation)

for i,series in df.iterrows():
    print(f"Index: {i}")
    print(series)
    print("-----")

for i in df.itertuples():
    print(i)    # Gives each row as a namedtuple

# itertuples is a faster way to iterate through rows as namedtuples

Index: 0
StudentID                      PH1001
FullName                Alice Johnson
Data Structure Marks             85.0
Algorithm Marks                  85.0
Python Marks                     88.0
CompletionStatus            Completed
Instructor                  Mr. Karim
Location                        Dhaka
Name: 0, dtype: object
-----
Index: 1
StudentID                      PH1002
FullName                Fatima Akhter
Data Structure Marks             97.0
Algorithm Marks                  92.0
Python Marks                      NaN
CompletionStatus          In Progress
Instructor                  Ms. Salma
Location                   Chattogram
Name: 1, dtype: object
-----
Index: 2
StudentID                      PH1003
FullName                Imran Hossain
Data Structure Marks             93.0
Algorithm Marks                  88.0
Python Marks                     85.0
CompletionStatus            Completed
Instructor                  Mr. Karim
Location                        Dhaka
Name: 2, dtype: object
-----
Index: 3
StudentID                         PH1004
FullName                Jannatul Ferdous
Data Structure Marks                83.0
Algorithm Marks                     78.0
Python Marks                        82.0
CompletionStatus               Completed
Instructor                     Ms. Salma
Location                          Sylhet
Name: 3, dtype: object
-----
Index: 4
StudentID                    PH1005
FullName                Kamal Uddin
Data Structure Marks            NaN
Algorithm Marks                 NaN
Python Marks                   95.0
CompletionStatus        In Progress
Instructor                Mr. Karim
Location                 Chattogram
Name: 4, dtype: object
-----
Index: 5
StudentID                    PH1006
FullName                Laila Begum
Data Structure Marks           75.0
Algorithm Marks                75.0
Python Marks                   78.0
CompletionStatus          Completed
Instructor                Ms. Salma
Location                   Rajshahi
Name: 5, dtype: object
-----
Index: 6
StudentID                       PH1007
FullName                Mahmudul Hasan
Data Structure Marks              80.0
Algorithm Marks                   80.0
Python Marks                       NaN
CompletionStatus           In Progress
Instructor                   Mr. Karim
Location                         Dhaka
Name: 6, dtype: object
-----
Index: 7
StudentID                    PH1008
FullName                Nadia Islam
Data Structure Marks           81.0
Algorithm Marks                81.0
Python Marks                   85.0
CompletionStatus          Completed
Instructor                Ms. Salma
Location                 Chattogram
Name: 7, dtype: object
-----
Index: 8
StudentID                   PH1009
FullName                Omar Faruq
Data Structure Marks          72.0
Algorithm Marks               72.0
Python Marks                  76.0
CompletionStatus         Completed
Instructor               Mr. David
Location                     Dhaka
Name: 8, dtype: object
-----
Index: 9
StudentID                     PH1010
FullName                Priya Sharma
Data Structure Marks            89.0
Algorithm Marks                 89.0
Python Marks                    88.0
CompletionStatus           Completed
Instructor                 Ms. Salma
Location                      Sylhet
Name: 9, dtype: object
-----
Index: 10
StudentID                     PH1011
FullName                Rahim Sheikh
Data Structure Marks             NaN
Algorithm Marks                  NaN
Python Marks                    91.0
CompletionStatus         In Progress
Instructor                 Mr. Karim
Location                      Khulna
Name: 10, dtype: object
-----
Index: 11
StudentID                        PH1012
FullName                Sadia Chowdhury
Data Structure Marks               85.0
Algorithm Marks                    85.0
Python Marks                       87.0
CompletionStatus              Completed
Instructor                    Ms. Salma
Location                     Chattogram
Name: 11, dtype: object
-----
Index: 12
StudentID                     PH1013
FullName                Tanvir Ahmed
Data Structure Marks            75.0
Algorithm Marks                 75.0
Python Marks                    79.0
CompletionStatus           Completed
Instructor                 Mr. David
Location                       Dhaka
Name: 12, dtype: object
-----
Index: 13
StudentID                    PH1014
FullName                 Urmi Akter
Data Structure Marks            NaN
Algorithm Marks                 NaN
Python Marks                    NaN
CompletionStatus        Not Started
Instructor                Ms. Salma
Location                   Rajshahi
Name: 13, dtype: object
-----
Index: 14
StudentID                     PH1015
FullName                Wahiduzzaman
Data Structure Marks            86.0
Algorithm Marks                 86.0
Python Marks                    84.0
CompletionStatus           Completed
Instructor                 Mr. Karim
Location                       Dhaka
Name: 14, dtype: object
-----
Index: 15
StudentID                     PH1016
FullName                Ziaur Rahman
Data Structure Marks            94.0
Algorithm Marks                 94.0
Python Marks                     NaN
CompletionStatus         In Progress
Instructor                 Ms. Salma
Location                  Chattogram
Name: 15, dtype: object
-----
Index: 16
StudentID                    PH1017
FullName                Afsana Mimi
Data Structure Marks           90.0
Algorithm Marks                90.0
Python Marks                   93.0
CompletionStatus          Completed
Instructor                Mr. Karim
Location                      Dhaka
Name: 16, dtype: object
-----
Index: 17
StudentID                    PH1018
FullName                Babul Ahmed
Data Structure Marks           88.0
Algorithm Marks                88.0
Python Marks                   85.0
CompletionStatus          Completed
Instructor                Ms. Salma
Location                     Sylhet
Name: 17, dtype: object
-----
Index: 18
StudentID                     PH1019
FullName                Faria Rahman
Data Structure Marks             NaN
Algorithm Marks                  NaN
Python Marks                     NaN
CompletionStatus         Not Started
Instructor                 Mr. David
Location                  Chattogram
Name: 18, dtype: object
-----
Index: 19
StudentID                   PH1020
FullName                Nasir Khan
Data Structure Marks          86.0
Algorithm Marks               86.0
Python Marks                  89.0
CompletionStatus         Completed
Instructor               Ms. Salma
Location                     Dhaka
Name: 19, dtype: object
-----
Pandas(Index=0, StudentID='PH1001', FullName='Alice Johnson', _3=85.0, _4=85.0, _5=88.0, CompletionStatus='Completed', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=1, StudentID='PH1002', FullName='Fatima Akhter', _3=97.0, _4=92.0, _5=nan, CompletionStatus='In Progress', Instructor='Ms. Salma', Location='Chattogram')
Pandas(Index=2, StudentID='PH1003', FullName='Imran Hossain', _3=93.0, _4=88.0, _5=85.0, CompletionStatus='Completed', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=3, StudentID='PH1004', FullName='Jannatul Ferdous', _3=83.0, _4=78.0, _5=82.0, CompletionStatus='Completed', Instructor='Ms. Salma', Location='Sylhet')
Pandas(Index=4, StudentID='PH1005', FullName='Kamal Uddin', _3=nan, _4=nan, _5=95.0, CompletionStatus='In Progress', Instructor='Mr. Karim', Location='Chattogram')
Pandas(Index=5, StudentID='PH1006', FullName='Laila Begum', _3=75.0, _4=75.0, _5=78.0, CompletionStatus='Completed', Instructor='Ms. Salma', Location='Rajshahi')
Pandas(Index=6, StudentID='PH1007', FullName='Mahmudul Hasan', _3=80.0, _4=80.0, _5=nan, CompletionStatus='In Progress', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=7, StudentID='PH1008', FullName='Nadia Islam', _3=81.0, _4=81.0, _5=85.0, CompletionStatus='Completed', Instructor='Ms. Salma', Location='Chattogram')
Pandas(Index=8, StudentID='PH1009', FullName='Omar Faruq', _3=72.0, _4=72.0, _5=76.0, CompletionStatus='Completed', Instructor='Mr. David', Location='Dhaka')
Pandas(Index=9, StudentID='PH1010', FullName='Priya Sharma', _3=89.0, _4=89.0, _5=88.0, CompletionStatus='Completed', Instructor='Ms. Salma', Location='Sylhet')
Pandas(Index=10, StudentID='PH1011', FullName='Rahim Sheikh', _3=nan, _4=nan, _5=91.0, CompletionStatus='In Progress', Instructor='Mr. Karim', Location='Khulna')
Pandas(Index=11, StudentID='PH1012', FullName='Sadia Chowdhury', _3=85.0, _4=85.0, _5=87.0, CompletionStatus='Completed', Instructor='Ms. Salma', Location='Chattogram')
Pandas(Index=12, StudentID='PH1013', FullName='Tanvir Ahmed', _3=75.0, _4=75.0, _5=79.0, CompletionStatus='Completed', Instructor='Mr. David', Location='Dhaka')
Pandas(Index=13, StudentID='PH1014', FullName='Urmi Akter', _3=nan, _4=nan, _5=nan, CompletionStatus='Not Started', Instructor='Ms. Salma', Location='Rajshahi')
Pandas(Index=14, StudentID='PH1015', FullName='Wahiduzzaman', _3=86.0, _4=86.0, _5=84.0, CompletionStatus='Completed', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=15, StudentID='PH1016', FullName='Ziaur Rahman', _3=94.0, _4=94.0, _5=nan, CompletionStatus='In Progress', Instructor='Ms. Salma', Location='Chattogram')
Pandas(Index=16, StudentID='PH1017', FullName='Afsana Mimi', _3=90.0, _4=90.0, _5=93.0, CompletionStatus='Completed', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=17, StudentID='PH1018', FullName='Babul Ahmed', _3=88.0, _4=88.0, _5=85.0, CompletionStatus='Completed', Instructor='Ms. Salma', Location='Sylhet')
Pandas(Index=18, StudentID='PH1019', FullName='Faria Rahman', _3=nan, _4=nan, _5=nan, CompletionStatus='Not Started', Instructor='Mr. David', Location='Chattogram')
Pandas(Index=19, StudentID='PH1020', FullName='Nasir Khan', _3=86.0, _4=86.0, _5=89.0, CompletionStatus='Completed', Instructor='Ms. Salma', Location='Dhaka')

## Sorting a DF

In [ ]:
copy_df = df.sort_values(by='Algorithm Marks', ascending=False)  # Sort by 'Algorithm Marks' in descending order
copy_df

# multiple sorts
copy_df_multi = df.sort_values(by=['Algorithm Marks', 'Data Structure Marks'], ascending=[False, True])  # Sort by 'Algorithm Marks' descending, then 'Data Structure Marks' ascending if tie

copy_df_multi = df.sort_values(by=['Algorithm Marks', 'Data Structure Marks'], ascending=[0,1])  # Sort by 'Algorithm Marks' descending, then 'Data Structure Marks' ascending if tie

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,Instructor,Location
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,Ms. Salma,Chattogram
1,PH1002,Fatima Akhter,97.0,92.0,NaN,In Progress,Ms. Salma,Chattogram
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,Mr. Karim,Dhaka
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,Ms. Salma,Sylhet
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,Ms. Salma,Sylhet
2,PH1003,Imran Hossain,93.0,88.0,85.0,Completed,Mr. Karim,Dhaka
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,Ms. Salma,Dhaka
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,Mr. Karim,Dhaka
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,Ms. Salma,Chattogram
0,PH1001,Alice Johnson,85.0,85.0,88.0,Completed,Mr. Karim,Dhaka
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,Ms. Salma,Chattogram
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,Mr. Karim,Dhaka
3,PH1004,Jannatul Ferdous,83.0,78.0,82.0,Completed,Ms. Salma,Sylhet
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,Ms. Salma,Rajshahi
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,Mr. David,Dhaka
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,Mr. David,Dhaka
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,Mr. Karim,Chattogram
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,Mr. Karim,Khulna
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,Ms. Salma,Rajshahi
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,Mr. David,Chattogram

## Filtering Data based on condition

In [ ]:

# Filter DataFrame for students with 'Not Started' status in 'Course CompletionStatus' column & located in 'Chattogram' in 'Location' column, only get 'StudentID' and 'FullName' columns
not_started_students = df.loc[(df['CompletionStatus'] == 'Not Started') & (df['Location'] == 'Chattogram'), ['StudentID', 'FullName']]
not_started_students

# Core filtering syntax
# df.loc[df['Column_Name'] == condition]. Use &, | for multiple conditions

   StudentID      FullName
18    PH1019  Faria Rahman