# Pandas
A powerful library for data manipulation and analysis in Python. It provides data structures like Series and DataFrame to handle structured data efficiently. Data cleaning, pre-processing, and analysis tasks are simplified using Pandas.

## Data Frames & Series

In [1]:
import pandas as pd

df = pd.read_csv("student_data.csv")
print(df)

print(type(df))  # <class 'pandas.core.frame.DataFrame'>

# Dataframe(Tabular Data) is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, or a dictionary of Series objects. It's the core data structure in Pandas for data manipulation and analysis.
# Row: sample entry/record
# Column: attribute/feature

student_ids = df['StudentID']
print(student_ids)

print(type(student_ids))  # <class 'pandas.core.series.Series'>
# Series(Single row or column) is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). It is similar to a column in a spreadsheet or a SQL table. Each element in a Series has an associated label (index) that can be used to access the data.

    StudentID   FullName           Data Structure Marks   Algorithm Marks  \
0   PH1001      Alif Rahman                          85                85
1   PH1002      Fatima Akhter                        92                92
2   PH1003      Imran Hossain                        88                88
3   PH1004      Jannatul Ferdous                     78                78
4   PH1005      Kamal Uddin
5   PH1006      Laila Begum                          75                75
6   PH1007      Mahmudul Hasan                       80                80
7   PH1008      Nadia Islam                          81                81
8   PH1009      Omar Faruq                           72                72
9   PH1010      Priya Sharma                         89                89
10  PH1011      Rahim Sheikh
11  PH1012      Sadia Chowdhury                      85                85
12  PH1013      Tanvir Ahmed                         75                75
13  PH1014      Urmi Akter
14  PH1015      Wahiduzzaman                         86                86
15  PH1016      Ziaur Rahman                         94                94
16  PH1017      Afsana Mimi                          90                90
17  PH1018      Babul Ahmed                          88                88
18  PH1019      Faria Rahman
19  PH1020      Nasir Khan                           86                86

     Python Marks   CompletionStatus   EnrollmentDate   Instructor  \
0              88   Completed          2024-01-15       Mr. Karim
1                   In Progress        2024-01-20       Ms. Salma
2              85   Completed          2024-02-10       Mr. Karim
3              82   Completed          2024-02-12       Ms. Salma
4              95   In Progress        2024-03-05       Mr. Karim
5              78   Completed          2024-03-08       Ms. Salma
6                   In Progress        2024-04-01       Mr. Karim
7              85   Completed          2024-04-22       Ms. Salma
8              76   Completed          2024-05-16       Mr. David
9              88   Completed          2024-05-20       Ms. Salma
10             91   In Progress        2024-06-11       Mr. Karim
11             87   Completed          2024-06-14       Ms. Salma
12             79   Completed          2024-07-02       Mr. David
13                  Not Started        2024-07-09       Ms. Salma
14             84   Completed          2024-08-18       Mr. Karim
15                  In Progress        2024-08-21       Ms. Salma
16             93   Completed          2025-09-01       Mr. Karim
17             85   Completed          2025-09-05       Ms. Salma
18                  Not Started        2025-09-15       Mr. David
19             89   Completed          2025-10-02       Ms. Salma

       Location
0         Dhaka
1    Chattogram
2         Dhaka
3        Sylhet
4    Chattogram
5      Rajshahi
6         Dhaka
7    Chattogram
8         Dhaka
9        Sylhet
10       Khulna
11   Chattogram
12        Dhaka
13     Rajshahi
14        Dhaka
15   Chattogram
16        Dhaka
17       Sylhet
18   Chattogram
19        Dhaka
<class 'pandas.core.frame.DataFrame'>
0     PH1001
1     PH1002
2     PH1003
3     PH1004
4     PH1005
5     PH1006
6     PH1007
7     PH1008
8     PH1009
9     PH1010
10    PH1011
11    PH1012
12    PH1013
13    PH1014
14    PH1015
15    PH1016
16    PH1017
17    PH1018
18    PH1019
19    PH1020
Name: StudentID, dtype: object
<class 'pandas.core.series.Series'>

## Different File Loading Methods

In [5]:
# File can be found in txt, csv, excel, json, fast(parquet), sql, html etc. formats

# CSV File Loading
df_csv = pd.read_csv("student_data.csv")

# Excel File Loading
df_excel = pd.read_excel("student_marks.xlsx", sheet_name="Sheet1")

# Parquet File Loading
df_parquet = pd.read_parquet("students.parquet")

# JSON File Loading
df_json = pd.read_json("data.json")

## Basic Operations & Functions

In [2]:
# head() and tail() Methods
print(df.head(5))  # First 5 rows
print(df.tail(5))  # Last 5 rows

   StudentID   FullName           Data Structure Marks   Algorithm Marks  \
0  PH1001      Alif Rahman                          85                85
1  PH1002      Fatima Akhter                        92                92
2  PH1003      Imran Hossain                        88                88
3  PH1004      Jannatul Ferdous                     78                78
4  PH1005      Kamal Uddin

    Python Marks   CompletionStatus   EnrollmentDate   Instructor     Location
0             88   Completed          2024-01-15       Mr. Karim         Dhaka
1                  In Progress        2024-01-20       Ms. Salma    Chattogram
2             85   Completed          2024-02-10       Mr. Karim         Dhaka
3             82   Completed          2024-02-12       Ms. Salma        Sylhet
4             95   In Progress        2024-03-05       Mr. Karim    Chattogram
    StudentID   FullName           Data Structure Marks   Algorithm Marks  \
15  PH1016      Ziaur Rahman                         94                94
16  PH1017      Afsana Mimi                          90                90
17  PH1018      Babul Ahmed                          88                88
18  PH1019      Faria Rahman
19  PH1020      Nasir Khan                           86                86

     Python Marks   CompletionStatus   EnrollmentDate   Instructor  \
15                  In Progress        2024-08-21       Ms. Salma
16             93   Completed          2025-09-01       Mr. Karim
17             85   Completed          2025-09-05       Ms. Salma
18                  Not Started        2025-09-15       Mr. David
19             89   Completed          2025-10-02       Ms. Salma

       Location
15   Chattogram
16        Dhaka
17       Sylhet
18   Chattogram
19        Dhaka